/* input{
  outline: none;
}
input:required:focus-visible {
  border-color: red !important;
}

input:required:invalid {
  border-color: red;
}

select{
  outline: none;
}
select:required:focus-visible {
  border-color: red !important;
} */
.divider {
  font-size: 15px;
  display: flex;
  align-items: center;
}

.divider::before, .divider::after {
  flex: 1;
  content: '';
  padding: 1px;
  background-color: rgb(39, 37, 37);
  margin: 10px;
}

/* SIDEBAR CSS */
.sidebar {
  position: fixed;
  top: 0;
  left: 0;
  width: 200px;
  height: 100vh;
  background-color: #f0f0f0;
  -webkit-transition: transform 0.1s ease-in-out; /* Vendor prefix */
  -moz-transition: transform 0.1s ease-in-out; /* Vendor prefix */
  transition: transform 0.1s ease-in-out;
  transform: translateX(-100%);
}

.sidebar.open {
  transform: translateX(0); /* Animate to open position */
  backdrop-filter: blur(5px);
}



.image-container {
  position: relative; 
}

.image-container img {
 } 

.overlay {
  position: absolute;
  top: 0;
  left: 0; 
  width: 100%; 
  height: 100%; 
}

.base-image {
  border-radius: 50%; 
}

